.header {
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	&__logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 1.6rem;

		&-name {
			font-weight: 700;
			font-size: 1.75rem;
			color: $light-primary;
		}

		&:hover {
			cursor: pointer;
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 2rem;
		color: $light-primary;
		margin-top: 1.15px;
		margin-bottom: 1.15px;

		&-item {
			text-align: center;
		}

		&-arrow {
			width: 0.563rem;
			height: 0.25rem;
			margin-top: 0.6rem;
			margin-bottom: 0.3rem;
			margin-left: 0.6rem;
			
		}
	}

	&__btns {
		display: flex;
		flex-direction: row;
		column-gap: 1.5rem;
	}

	&__btn--primary {
		color: $dark-blue;
		background-color: $light-yellow;
	}
}
