.header {
	display: flex;
	flex-direction: row;

	&__logo {
		display: flex;
		flex-direction: row;

		column-gap: 0.6rem;

		&-name {
			font-weight: 700;
			font-size: 1.75rem;
			color: $Light-primary;
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 0.5rem;
		color: $light-primary;
	}

    &__item{
        text-decoration: none;
        list-style-type: none;
    }

    
}
